<header>
    <!-- menu -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4">
        <div class="container-fluid d-flex flex-column flex-md-row justify-content-md-between">
            <a class="h1 navbar-brand" href="/">REMIND ME</a>
            <div class="d-flex flex-column flex-md-row">
                <a id="loginLink" class="h5 nav-link text-white" href="/login"><i
                        class="me-2 text-white h5 bi bi-person-circle"></i>Connexion</a>
                <a id="listLink" class="d-none h5 nav-link text-white" href="/list"><i class="me-2 text-white h5 bi bi-card-list"></i>Ma
                    liste</a>
                <a id="logoutLink" class="d-none h5 nav-link text-white" href="#"><i class="me-2 text-white h5 bi bi-person-x-fill"></i>Deconnexion</a>
            </div>
        </div>
    </nav>
</header>