{% include header.html %}
<div class="container text-white">
    <h1 class="text-center">A propos</h1>
    <div class="mt-5">
        <p>Remind me est une application permettant de créer une liste de films à regarder, de musiques à écouter ainsi
            que
            des livres à lire.</p>
        <p>Ce site est un exemple d'utilisation de l'API Remind me disponible <a class="text-white"
                style="font-weight:bold;" href="https://remind-me-api.herokuapp.com/" target="_blank"
                rel="noopener noreferrer">ici</a>.</p>
        <p>L'API utilise elle même des API, notamment celles de <a class="text-white" style="font-weight:bold;"
                href="https://www.omdbapi.com/" target="_blank" rel="noopener noreferrer">OMDB API</a>, <a
                class="text-white" style="font-weight:bold;" href="https://developers.google.com/books/" target="_blank"
                rel="noopener noreferrer">Google
                Books API</a> ainsi que celui de <a class="text-white" style="font-weight:bold;"
                href="https://developers.deezer.com/api" target="_blank" rel="noopener noreferrer">Deezer API</a>.
        </p>
    </div>
</div>
{% include footer.html %}