{% include header.html %}
<div id="content" class="container my-4">
    <div id="searchLoadingSpinner" class="mt-5 content d-flex justify-content-center">
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
        </div>
    </div>
</div>
<template id="singleAlbumTemplate">
    <div class="row element albumElement" data-type="Album" data-api-code="">
        <div class="col-12 col-lg-5">
            <img data-picture-url="" id="picture" width="100%" src="" alt="">
        </div>
        <div class="col-12 col-lg-7">
            <div class="row justify-content-between">
                <div class="col-4 d-flex flex-column align-items-lg-center justify-content-center">
                    <h1 data-title="" id="title"></h1>
                    <h3 data-artist="" id="artist"></h3>
                </div>
                <div class="col-3 d-flex flex-column align-items-center justify-content-center">
                    <p>Année de sortie: <span data-released-at="" id="releasedAt"></span></p>
                    <p>Catégorie: <span id="category"></span></p>
                    <p>Apicode: <span id="apiCode"></span></p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    <p class="mb-2 text-center">Liste des titres </p>
                    <ol id="tracklist" style="height:250px"
                        class=" mt-3 d-flex flex-column align-items-center flex-wrap">
                    </ol>
                </div>
            </div>
            <div class="row mt-2 d-flex justify-content-center">
                <div class="col-5">
                    <a href="#" class="addMusicList d-flex justify-content-center text-white btn btn-danger rounded"><i
                            class="m-0 text-white me-2 h5 bi bi-plus-circle"></i>Ajouter à ma liste de musiques</a>
                </div>
            </div>
        </div>
    </div>
</template>
{% include footer.html %}