{% include header.html %}
<div id="content" class="container mt-4">
    <div id="searchLoadingSpinner" class="mt-5 content d-flex justify-content-center">
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
        </div>
    </div>
</div>
<template id="singleBookTemplate">
    <div  data-api-code="" class="element bookElement row">
        <div class="col-4">
            <img data-picture-url="" id="picture" class="d-block" width="100%"
                src=""
                alt="">
        </div>
        <div class="col-7">
            <div class="row d-flex justify-content-between">
                <div class="col-5">
                    <h2 data-title="" id="title"></h2>
                    <h3>Par <span data-author="" id="author"></span></h3>
                </div>
                <div class="col-2">
                    <p>Date de sortie: <span data-released-at="" id="releasedAt"></span></p>
                    <p>Code API: <span id="apiCode"></span></p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <p class="text-center">Categories: </p>
                    <p id="categories"></p>
                </div>
            </div>
            <div class="row mt-5">
                <p class="text-center">Synopsis: </p>
                <div id="synopsis" class="col text-center">
                </div>
            </div>
            <div class="row mt-5 d-flex justify-content-center">
                <div class="col-5">
                    <a href="#" class="addBooklist d-flex justify-content-center text-white btn btn-danger rounded"><i
                            class="m-0 text-white me-2 h5 bi bi-plus-circle"></i>Ajouter à ma liste de livres</a>
                </div>
            </div>
        </div>
    </div>
</template>
{% include footer.html %}