{% include header.html %}
<main class="mb-5">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-3 d-flex justify-content-center">
                <a href="#" class="h3 btn btn-secondary rounded p-2"><i class="bi h3 bi-film me-2"></i> Mes
                    films</a>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <a href="#" class="h3 btn btn-secondary rounded p-2"><i class="bi h3 bi-music-note me-2"></i> Mes
                    musiques</a>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <a href="#" class="h3 btn btn-secondary rounded p-2"><i class="bi h3 bi-book me-2"></i> Mes
                    livres</a>
            </div>
        </div>
    </div>
    <!-- <div class="mt-5 content d-flex justify-content-center">
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
        </div>
    </div> -->
    <div class="container">
        <div class="row">
            <div class="movie col-12">
                <div class="row">
                    <div class="col-3 d-flex flex-column align-items-center justify-content-center">
                        <i class="h2 bi bi-arrow-up-circle"></i>
                        <p class="h2 text-center">1</p>
                        <i class="h2 bi bi-arrow-down-circle"></i>
                    </div>
                    <div class="col-9">
                        <div class="row">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% include footer.html %}