{% include header.html %}
<main class="mb-5">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-3 d-flex justify-content-center">
                <a id="movieList" href="#" style="font-weight: bold;" class="text-white button h3 btn rounded p-2"><i class="bi h3 bi-film me-2"></i>
                    Mes
                    films</a>
            </div>
            <div class="col-12 col-lg-3 d-flex justify-content-center">
                <a id="musicList" href="#" style="font-weight: bold;" class="text-white h3 btn button rounded p-2"><i class="text-white bi h3 bi-music-note me-2"></i>
                    Mes
                    musiques</a>
            </div>
            <div class="col-12 col-lg-3 d-flex justify-content-center ">
                <a id="bookList" href="#" style="font-weight: bold;" class="text-white h3 btn button rounded p-2"><i class="bi h3 text-white bi-book me-2"></i>
                    Mes
                    livres</a>
            </div>
        </div>
    </div>
    <div id="loadingSpinner" class="d-none mt-5 content d-flex justify-content-center">
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
        </div>
    </div>
    <div class="container mt-5" id="content">
    </div>
</main>
{% include footer.html %}
<template id="movieListTemplate">
    <div class="row my-5 movieElement element" data-id="">
        <div class="col-3 d-flex flex-column align-items-center justify-content-center">
            <a class="upToMovieList" href="#"><i class="d-block text-white bi h1 bi-arrow-up-square-fill"></i></a>
            <p id="movieListOrder" style="width:60px;border-radius: 50%;"
                class="h2 text-center bg-primary text-white p-2 m-0 my-2">1
            </p>
            <a class="downToMovieList" href="#"><i class="d-block text-white bi h1 bi-arrow-down-square-fill"></i></a>
        </div>
        <div class="col-7 d-flex flex-column align-items-center">
            <img id="moviePicture" src="" alt="" width="25%">
            <p id="movieTitle" class="mt-2"></p>
            <p>Sorti en <span id="movieReleasedAt"></span></p>
        </div>
        <div class="col-2 d-flex flex-column align-items-center justify-content-center">

            <a id="movieDetailsLink" href="#"
                class="mb-5 d-flex justify-content-center text-white btn btn-primary rounded mr-2 h-auto"><i
                    class="m-0 text-white h5 bi bi-search"></i></a>
            <a href="#" class="removeMovieList mt-5 d-flex justify-content-center text-white btn btn-danger rounded"><i
                    class="m-0 text-white h5 bi bi-dash-circle"></i></a>
        </div>
    </div>
</template>
<template id="bookListTemplate">
    <div class="row my-5 bookElement element" data-id="">
        <div class="col-3 d-flex flex-column align-items-center justify-content-center">
            <a class="upToBookList" href="#"><i class="d-block text-white bi h1 bi-arrow-up-square-fill"></i></a>
            <p id="bookListOrder" style="width:60px;border-radius: 50%;"
                class="h2 text-center bg-primary text-white p-2 m-0 my-2">1
            </p>
            <a class="downToBookList" href="#"><i class="d-block text-white bi h1 bi-arrow-down-square-fill"></i></a>
        </div>
        <div class="col-7 d-flex flex-column align-items-center">
            <img id="bookListPicture" width="25%" src="" alt="">
            <p id="bookListTitle" class="mt-2"></p>
            <p id="bookListAuthor"></p>
        </div>
        <div class="col-2 d-flex flex-column align-items-center justify-content-center">

            <a id="bookListDetailsLink" href="#"
                class="mb-5 d-flex justify-content-center text-white btn btn-primary rounded mr-2 h-auto"><i
                    class="m-0 text-white h5 bi bi-search"></i></a>
            <a href="#" class="removeBookList mt-5 d-flex justify-content-center text-white btn btn-danger rounded"><i
                    class="m-0 text-white h5 bi bi-dash-circle"></i></a>
        </div>
    </div>
</template>
<template id="musicListTemplate">
    <div class="row my-5 musicElement element" data-id="">
        <div class="col-3 d-flex flex-column align-items-center justify-content-center">
            <a class="upToMusicList" href="#"><i class="d-block text-white bi h1 bi-arrow-up-square-fill"></i></a>
            <p id="musicListOrder" style="width:60px;border-radius: 50%;"
                class="h2 text-center bg-primary text-white p-2 m-0 my-2">1
            </p>
            <a class="downToMusicList" href="#"><i class="d-block text-white bi h1 bi-arrow-down-square-fill"></i></a>
        </div>
        <div class="col-7 d-flex flex-column align-items-center">
            <img id="musicListPicture" src="" alt="" width="25%">
            <p id="musicListTitle" class="mt-2"></p>
            <p id="musicListType" class="mt-2"></p>
            <p>Sorti en <span id="musicListReleasedAt"></span></p>
        </div>
        <div class="col-2 d-flex flex-column align-items-center justify-content-center">

            <a id="musicListDetailsLink" href="#"
                class="mb-5 d-flex justify-content-center text-white btn btn-primary rounded mr-2 h-auto"><i
                    class="m-0 text-white h5 bi bi-search"></i></a>
            <a href="#" class="removeMusicList mt-5 d-flex justify-content-center text-white btn btn-danger rounded"><i
                    class="m-0 text-white h5 bi bi-dash-circle"></i></a>
        </div>
    </div>
</template>