{% include header.html %}
<main class="mb-5">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <p class="text-center h3">Resultats de votre recherche : </p>
               <p class="text-center h3"><span id="searchedType"></span>: <span id="searchedQ"></span></p>
            </div>
        </div>
    </div>
    <div id="searchLoadingSpinner" class="mt-5 content d-flex justify-content-center">
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
        </div>
    </div>
    <div class="container">
        <div id="content" class="row d-flex justify-content-center mt-5 content">

        </div>
    </div>
</main>

<template id="albumTemplate">
    <div class="element col-3 albumElement mt-4 me-1 py-2 text-center" data-api-code="" data-type="Album">
        <div>
            <img class="ms-auto me-auto" width="250px" id="picture" data-picture-url="" src="#" alt="">
        </div>
        <p class="mt-2" id="title" data-title=""></p>
        <a href="#" class="d-block mb-2 text-white" data-artist="" id="artist"></a>
        <div class="d-flex justify-content-around align-items-center">
            <a id="detailsLink" href="#"
                class="d-flex justify-content-center text-white btn btn-primary rounded mr-2 h-auto"><i
                    class="m-0 text-white h5 bi bi-search"></i></a>
            <a href="#" class="addMusicList d-flex justify-content-center text-white btn btn-danger rounded"><i
                    class="m-0 text-white h5 bi bi-plus-circle"></i></a>
        </div>
    </div>
</template>

<template id="movieTemplate">
    <div class="col-4 element movieElement p-2 mb-3" data-api-code="">
        <div>
            <img class="d-block ms-auto me-auto" data-picture-url="" id="picture" width="250px" src="#" alt="">
        </div>
        <div class="d-flex flex-column mt-2 align-items-center">
            <p data-title="" id="title"></p>
            <p data-released-at="" id="releasedAt"></p>
        </div>
        <div class="d-flex justify-content-around align-items-center">
            <a id="detailsLink" href="#"
                class="d-flex justify-content-center text-white btn btn-primary rounded mr-2 h-auto"><i
                    class="m-0 text-white h5 bi bi-search"></i></a>
            <a href="#" class="addMovieList d-flex justify-content-center text-white btn btn-danger rounded"><i
                    class="m-0 text-white h5 bi bi-plus-circle"></i></a>
        </div>

    </div>
</template>

<template id="songTemplate">
    <div class="d-flex col-12 element songElement mt-2 me-1 py-2" data-api-code="" data-type="Song">
        <div class="col-1">
            <img id="picture" data-picture-url="" width="120px" src="#" alt="">
        </div>
        <div class="col-4 align-middle d-flex flex-column justify-content-center align-items-center">
            <p class="d-block text-white" data-title="" id="title"></p>
            <p class="mt-2 d-block text-white" data-artist="" id="artist"></p>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center">
            <audio controls>
                <source id="preview" src="#" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
        <div class="col-3 d-flex justify-content-center align-items-center">
            <a id="detailsLink" href="#"
                class="d-flex me-3 justify-content-center text-white btn btn-primary rounded mr-2 h-auto"><i
                    class="m-0 text-white h5 bi bi-search"></i></a>
            <a href="#" class="addMusicList d-flex justify-content-center text-white btn btn-danger rounded"><i
                    class="m-0 text-white h5 bi bi-plus-circle"></i></a>
        </div>
    </div>
</template>

<template id="artistTemplate">
    <div class="col-3 mt-2 artistElement me-1 py-2">
        <img class="d-block ms-auto me-auto" width="250px" id="artistPicture" src="#" alt="">
        <div class="mt-2 d-flex justify-content-center">
            <p id="artistName"></p>
        </div>
        <div class="d-flex justify-content-around align-items-center">
            <a id="artistDetailsLink" href="#"
                class="d-flex justify-content-center text-white btn btn-primary rounded mr-2 h-auto"><i
                    class="m-0 text-white h5 bi bi-search"></i></a>
            <a href="#" class="d-flex justify-content-center text-white btn btn-danger rounded"><i
                    class="m-0 text-white h5 bi bi-plus-circle"></i></a>
        </div>
    </div>
</template>

<template id="bookTemplate">
    <div class="col-4 element bookElement p-2 mb-3" data-api-code="">
        <div>
            <img class="d-block ms-auto me-auto" data-picture-url="" id="picture" width="250px" src="#" alt="">
        </div>
        <div class="mt-3 d-flex flex-column align-items-center">
            <p data-title="" id="title" class="text-center"></p>
            <p data-author="" id="author"></p>
            <p data-released-at="" id="releasedAt"></p>
        </div>
        <div class="d-flex justify-content-around align-items-center">
            <a id="detailsLink" href="#"
                class="d-flex justify-content-center text-white btn btn-primary rounded mr-2 h-auto"><i
                    class="m-0 text-white h5 bi bi-search"></i></a>
            <a href="#" class="addBooklist d-flex justify-content-center text-white btn btn-danger rounded"><i
                    class="m-0 text-white h5 bi bi-plus-circle"></i></a>
        </div>
    </div>
</template>
{% include footer.html %}