{% include header.html %}
<div id="content">
    <div id="searchLoadingSpinner" class="mt-5 content d-flex justify-content-center">
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
        </div>
    </div>
</div>

<template id="singleSongTemplate">
    <div class="element songElement" data-type="Song" data-api-code="" data-released-at="">
        <div id="artistPicture" class="container-fluid mt-2" class="100%"
            style="height:500px;background-position:center;background-repeat: no-repeat">

        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-3">
                    <img data-picture-url="" id="picture" width="100%" src="" alt="">
                </div>
                <div class="col-9">

                    <div class="row d-flex justify-content-between">
                        <div class="col-4">
                            <p>Titre: <span data-title="" id="title"></span></p>
                            <p>Artiste: <span data-artist="" id="artist"></span></p>
                            <p>Album: <span id="album"></span> <a id="albumDetails" href="#"
                                    class="ms-2 text-white">Détails sur
                                    l'album</a></p>
                        </div>
                        <div class="col-3">
                            <p>Sortie: <span data-released-at="" id="releasedAt"></span></p>
                            <p>Code api: <span id="apiCode"></span></p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <p class="text-center">Aperçu: </p>
                        <audio class="mt-3 100%" controls>
                            <source id="preview" src="" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                    <div class="row mt-5 d-flex justify-content-center">
                        <div class="col-5">
                            <a href="#"
                                class="addMusicList d-flex justify-content-center text-white btn btn-danger rounded"><i
                                    class="m-0 text-white me-2 h5 bi bi-plus-circle"></i>Ajouter à ma liste de
                                musiques</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
{% include footer.html %}